:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  outline: 1px solid green;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 3.2em;
  line-height: 1.1;
  background-color: #000000;

  
  /* Button-like styling */
  box-shadow: rgba(226, 5, 5, 0.16) 0px 1px 4px, rgb(140, 37, 230) 0px 0px 0px 3px;
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 1rem 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
